/.cache/
/.lsp-session-v1
/auto-save-list/
/bookmarks
/config.el
/elpa/
/eshell/
/projectile-bookmarks.eld
/recentf

/saves/*
!saves/.gitkeep

/snippets/*
!snippets/.gitkeep
/tramp
/transient/
/url/
/abbrev_defs
