/.cache/
/.lsp-session-v1
/auto-save-list/
/bookmarks
/config.el
/elpa/
/eshell/
/projectile-bookmarks.eld
/recentf

/saves/*
!saves/.gitkeep

/snippets/*
!snippets/.gitkeep
/tramp
/transient/
/url/
/abbrev_defs
/#init.el#
/agenda/
/amx-items
/config.html
/eww-bookmarks
/ltxmathml-inDq43lH
/ltxmathml-inMsKqq8
/notes/lectures.org
/notes/notes.org
/notes/schedule.org
/straight/
/eln-cache/
/games/
/history
/projectile.cache
/projects
/var/
/elpaca/
/forge-database.sqlite
